@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 12.5490%;
    --card: 0 0% 98.8235%;
    --card-foreground: 0 0% 12.5490%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 12.5490%;
    --primary: 120 4.6154% 25.4902%;
    --primary-foreground: 0 0% 100%;
    --secondary: 141.8182 20% 67.6471%;
    --secondary-foreground: 120 9.6774% 18.2353%;
    --muted: 0 0% 93.7255%;
    --muted-foreground: 0 0% 39.2157%;
    --accent: 0 0% 90.9804%;
    --accent-foreground: 0 0% 12.5490%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --success: 160 75% 45%;
    --success-foreground: 0 0% 100%;
    --fail: 0 55% 55%;
    --fail-foreground: 0 0% 100%;
    --border: 0 0% 84.7059%;
    --input: 0 0% 84.7059%;
    --ring: 120 4.6154% 25.4902%;
    --chart-1: 120 4.6154% 25.4902%;
    --chart-2: 141.8182 20% 67.6471%;
    --chart-3: 0 0% 90.9804%;
    --chart-4: 141.2903 20.2614% 70%;
    --chart-5: 120 4.6154% 25.4902%;
    --sidebar: 0 0% 98.4314%;
    --sidebar-foreground: 0 0% 14.5098%;
    --sidebar-primary: 0 0% 20.3922%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 0 0% 96.8627%;
    --sidebar-accent-foreground: 0 0% 20.3922%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 93.3333%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 93.3333%;
    --popover: 0 0% 9.8039%;
    --popover-foreground: 0 0% 93.3333%;
    --primary: 137.4194 20% 69.6078%;
    --primary-foreground: 288 9.8039% 10%;
    --secondary: 140.0000 3.8961% 15.0980%;
    --secondary-foreground: 137.4194 20% 69.6078%;
    --muted: 0 0% 13.3333%;
    --muted-foreground: 0 0% 70.5882%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 93.3333%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --success: 160 40% 55%;
    --success-foreground: 0 0% 100%;
    --fail: 0 40% 60%;
    --fail-foreground: 0 0% 100%;
    --border: 180 1.9608% 10%;
    --input: 0 0% 28.2353%;
    --ring: 137.4194 20% 69.6078%;
    --chart-1: 137.4194 20% 69.6078%;
    --chart-2: 140.0000 3.8961% 15.0980%;
    --chart-3: 0 0% 16.4706%;
    --chart-4: 140.0000 3.3708% 17.4510%;
    --chart-5: 138.7500 20.5128% 69.4118%;
    --sidebar: 0 1.9608% 10%;
    --sidebar-foreground: 0 0.8130% 75.8824%;
    --sidebar-primary: 332 15.4639% 38.0392%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 12.5490%;
    --sidebar-accent-foreground: 0 0.8130% 75.8824%;
    --sidebar-border: 0 0% 12.5490%;
    --sidebar-ring: 330 1.1628% 66.2745%;
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
  }
}
